{% extends 'main/layout.html' %}
{% block title%}About me{% endblock%}

{% block content%}
<div class="features">
    <h1>About me</h1>
    <p>Hello, everyone! I'm a huge Star Wars fan, 
        and I've been enjoying this fantastic universe 
        since I was 8 years old. As of the current moment, 
        it's October 22, 2023, 17:09 Moscow time, and I'm 
        still a 16-year-old fan, watching and rewatching 
        this marvelous cinematic universe. I hope that in 
        the future, I'll come across this website, my very 
        first website, and it will bring a smile to my face 
        as I once again dive into the entire Star Wars universe!</p>

    <p>
        Всем привет, я большой фанат  Star Wars, смотрю эту 
        прекрасную вселенную еще с 8 лет.На данный момент 22.10.2023 17:09 
        по мск мне 16 лет, все еще смотрю и пересматриваю эту прекрасную 
        киновселенную. Надеюсь в будующем найду этотсайт, мой первый сайт, 
        улыбнусь и еще раз пересмотрю всю вселенную Star Wars !!
    </p>
</div>
{% endblock %}